{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}
{% block body %}
    <div class="container w-75">
        <div class="row">
            <div class="col-3">
                <img src="{{ asset('userUploads/default_picture.png') }}" height="100" alt="profile_picture" style="margin-bottom: 15px">

                <h5>First Name</h5>
                <p>{{ app.user.firstName }}</p>

                <h5>Last Name</h5>
                <p>{{ app.user.lastName }}</p>

                <h5><i class="fas fa-envelope-open-text" style="margin-right: 5px;"></i>Email</h5>
                <p>{{ app.user.email }}</p>

                <h5><i class="fas fa-compass" style="margin-right: 5px;"></i>Location</h5>
                <p>{{ app.user.city }} - {{ app.user.country }}</p>

                <h5><i class="fas fa-history" style="margin-right: 5px;"></i>Last Profile Update</h5>
                <p>{{ app.user.updatedAt | date('d-m-Y - h:m:s A') }}</p>
            </div>
            <div class="col-9">
                <h3>Profile information</h3>
                <form id="updateUserInfo" name="user_info" method="post" action="">
                    <div class="form-group">

                        <label for="first_name">First Name</label>
                        <input class="form-control" id="first_name" name="first_name" type="text" value="{{ app.user.firstName }}">
                        <br>

                        <label for="last_name">Last Name</label>
                        <input class="form-control" id="last_name" name="last_name" type="text" value="{{ app.user.lastName }}">
                        <br>

                        <label for="date_of_birth">Date Of Birth</label>
                        <input class="form-control" id="date_of_birth" name="date_of_birth" type="text" value="{{ app.user.dateOfBirth | date('d-m-Y') }}">
                        <br>

                        <label for="company">Company</label>
                        <input class="form-control" id="company" name="company" type="text" value="{{ app.user.company }}">
                        <br>

                        <label for="city">City</label>
                        <input class="form-control" id="city" name="city" type="text" value="{{ app.user.city }}">
                        <br>

                        <label for="country">Country</label>
                        <input class="form-control" id="country" name="country" type="text" value="{{ app.user.country }}">
                        <br>

                    </div>
                    <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}">
                    <button type="submit" class="btn btn-primary" id="updateUser">Update your info</button>
                    <br>
                    <br>
                    <p align="center" id="successUpdate" style="display: none; color:green;">Successfully updated your account info</p>
                    <p align="center" id="failUpdate" style="display: none;color:red;">There's been an issue, try again later</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}