{% set title = 'Reset Password' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reset_password') }}
{% endblock %}

{% block body %}
    <div class="col-lg-4 offset-lg-7">
        <div class="container">
            <div class="card" style="margin-top: 30%">
                <div class="card-header">
                    Reset Password Form
                </div>
                <div class="card-body">
                    <form name="user" id="reset_form" method="post">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <br>
                        <p align="center">
                        <br>

                        <p align="center"><button class="btn btn-lg" type="submit" id="reset_password">Reset Password</button></p>
                        <p align="center">Remembered your password ? <a href="{{ path('app_login') }}">Login here</a></p>
                        <p align="center">Don't have an account ? <a href="{{ path('app_register') }}">Register here</a></p>

                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reset_password') }}
{% endblock %}
