{% set title = 'Budget' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('budget') }}
{% endblock %}

{% block body %}
    <div class="container w-75">
        <div class="row" style="margin-top: 25px;">
            <div class="col-sm-12">
                <h2 align="left">Budgets</h2>
            </div>
        </div>
        <br>

        <div class="row">

            {% for budget in budgets %}
                {% if(budget.active == 1) %}
                    <!--Panel-->
                    <div class="col-md-4">
                        <div class="card card-body" style="padding-bottom: 10px; padding-top: 10px; margin-bottom: 10px;">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6 class="card-title" id="budgetName_{{ budget.id }}">{{ budget.name }}</h6>
                                    <p class="card-text" id="budgetAmount_{{ budget.id }}">{{ budget.budgetAmount }} {{ budget.account.currency.currencyLabel }}</p>
                                    <p class="card-text" >{{ budget.account.accountName }}</p>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-warning update_budget button_color" data-target="#updateBudget" data-toggle="modal" value="{{ budget.id }}">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </button>

                                    <button class="btn btn-danger delete_budget button_color" value="{{ budget.id }}">
                                        <i class="fas fa-trash-alt fa-xs"></i>
                                    </button>
                                </div>
                                <input type="hidden" id="budgetCategory_{{ budget.id }}" value="{{ budget.category.id }}">
                                <input type="hidden" id="budgetAccountType_{{ budget.id }}" value="{{ budget.account.id }}">
                                <input type="hidden" id="budget_amount_{{ budget.id }}" value="{{ budget.budgetAmount }}">
                                <input type="hidden" id="account_id_{{ budget.id }}" value="{{ budget.account.id }}">
                                <input type="hidden" id="category_id_{{ budget.id }}" value="{{ budget.category.id }}">
                                <input type="hidden" class="budget_id" value="{{ budget.id }}">
                            </div>

                            <br>
                            <p>
                                <span id="budget_from_{{ budget.id }}"></span>/<span id="budget_to_{{ budget.id }}"></span><span> {{ budget.account.currency.currencyLabel }}</span>
                            </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" id="budget_progress_{{ budget.id }}"></div>
                            </div>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" data-target="#addBudget" data-toggle="modal">Add Budget</button>
            </div>
        </div>

        <!-- New Budget Modal -->
        <div class="modal fade" id="addBudget" tabindex="-1" role="dialog" aria-labelledby="addBudget" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Budget</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addBudgetForm" name="budget" method="post" action="">
                            <div class="form-group">

                                <label for="budget_name">Budget Name</label>
                                <input class="form-control" id="budget_name" name="budget_name" type="text">
                                <br>


                                <label for="account_type">Pick Account Type</label>
                                <select class="form-control" id="account_type" name="account_type" required>
                                    {% for account in accounts %}
                                        {% if(account.active == 1) %}
                                            <option value="{{ account.id }}">{{ account.accountName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <br>

                                <label for="category">Pick a Category</label>
                                <select class="form-control" id="category" name="category" required>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.categoryName }}</option>
                                    {% endfor %}
                                </select>
                                <br>

                                <label for="budget_amount">Budget Amount</label>
                                <input class="form-control" id="budget_amount" name="budget_amount" type="number">
                                <br>

                            </div>
                            <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="addBudgetForm">Add Budget</button>
                            <br>
                            <br>
                            <p align="center" id="successAddBudget" style="display: none; color:green;">Successfully created your budget</p>
                            <p align="center" id="failAddBudget" style="display: none;color:red;">There's been an issue, try again later</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Update Budget Modal -->
        <div class="modal fade" id="updateBudget" tabindex="-1" role="dialog" aria-labelledby="updateBudget" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="update_budgetTitle">Update Budget</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="updateBudgetForm" name="budget" method="post" action="">
                            <div class="form-group">

                                <label for="update_budget_name">Budget Name</label>
                                <input class="form-control" id="update_budget_name" name="update_budget_name" type="text">
                                <br>


                                <label for="update_account_type">Account Type</label>
                                <select class="form-control" id="update_account_type" name="update_account_type" required>
                                    {% for account in accounts %}
                                        {% if(account.active == 1) %}
                                            <option value="{{ account.id }}">{{ account.accountName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <br>

                                <label for="update_category">Category</label>
                                <select class="form-control" id="update_category" name="update_category" required>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.categoryName }}</option>
                                    {% endfor %}
                                </select>
                                <br>

                                <label for="update_budget_amount">Budget Amount</label>
                                <input class="form-control" id="update_budget_amount" name="update_budget_amount" type="number">
                                <br>

                            </div>
                            <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="updateBudgetButton">Update Budget</button>
                            <br>
                            <br>
                            <p align="center" id="successUpdateBudget" style="display: none; color:green;">Successfully updated your budget</p>
                            <p align="center" id="failUpdateBudget" style="display: none;color:red;">There's been an issue, try again later</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('budget') }}
{% endblock %}