{% set title = 'Dashboard' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 20px;">
        <div class="row" id="dashboard_accounts">
            {{ include('dashboard/dashboard_accounts.html.twig') }}
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row" style="padding-top: 50px;" id="dashboard_statistics">
            {{ include('dashboard/dashboard_statistics.html.twig') }}
        </div>
    </div>

<!-- Update Account Modal -->
<div class="modal fade" id="updateAccount" tabindex="-1" role="dialog" aria-labelledby="updateAccount" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update_accountTitle">Update Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateAccountForm" name="account" method="post" action="">
                    <div class="form-group">

                        <label for="accountName">Account Name</label>
                        <input class="form-control" id="accountName" name="accountName" type="text">
                        <br>

                        <label for="accountBalance">Account Balance</label>
                        <input class="form-control" id="accountBalance" name="accountBalance" type="number">
                        <br>

                    </div>
                    <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}">
                    <input type="hidden" id="account_id" name="account_id" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="updateAccountModal">Update Account</button>
                    <br>
                    <br>
                    <p align="center" id="successUpdate" style="display: none; color:green;">Successfully updated your account</p>
                    <p align="center" id="failUpdate" style="display: none;color:red;">There's been an issue, try again later</p>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- New Transaction Modal -->
<div class="modal fade" id="addTransaction" tabindex="-1" role="dialog" aria-labelledby="addTransaction" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addTransactionForm" name="addTransaction" method="post">
                    <div class="form-group">

                        <label for="transactionName">Transaction Name</label>
                        <input class="form-control" id="transactionName" name="transactionName" type="text" required>
                        <br>

                        <label for="transactionAccountType">Pick Account Type</label>
                        <select class="form-control" id="transactionAccountType" name="transactionAccountType" required>
                            {% for account in accounts %}
                                {% if(account.active == 1) %}
                                    <option value="{{ account.id }}">{{ account.accountName }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br>

                        <label for="transactionType">Pick a Transaction Type</label>
                        <select class="form-control" id="transactionType" name="transactionType" required>
                            {% for type in transaction_types %}
                                <option value="{{ type.id }}">{{ type.transactionType }}</option>
                            {% endfor %}
                        </select>
                        <br>

                        <label for="transactionCategory">Pick a Category</label>
                        <select class="form-control" id="transactionCategory" name="transactionCategory" required>
                            {% for category in categories %}
                                 <option value="{{ category.id }}">{{ category.categoryName }}</option>
                            {% endfor %}
                        </select>
                        <br>

                        <label for="transactionSubcategory">Pick a SubCategory</label>
                        <select class="form-control" id="transactionSubcategory" name="transactionSubcategory" required>
                        </select>
                        <br>

                        <div class="row">
                            <div class="col-lg-6">
                                <label for="transactionAmount">Transaction Amount</label>
                                <input class="form-control" id="transactionAmount" name="transactionAmount" type="number" required>
                            </div>
                            <div class="col-lg-6">
                                <label for="transactionCurrency">Currency</label>
                                <select class="form-control" id="transactionCurrency" name="transactionCurrency" required>
                                    {% for currency in currencies %}
                                        <option value="{{ currency.id }}">{{ currency.currencyLabel }} - {{ currency.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
{#                        <br>#}

                        <label for="transactionNote">Transaction Note</label>
                        <input class="form-control" id="transactionNote" name="transactionNote" type="text">
                        <br>



                    </div>
                    <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="updateAccountModal">Add Transaction</button>
                    <br>
                    <br>
                    <p align="center" id="successAddTransaction" style="display: none; color:green;">Successfully added your transaction.</p>
                    <p align="center" id="errorAddTransaction" style="display: none;color:red;"></p>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Account Modal -->
<div class="modal fade" id="addAccount" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update_accountTitle">Update Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addAccountForm" name="account" method="post" action="">
                    <div class="form-group">

                        <label for="accountNameAdd">Account Name</label>
                        <input class="form-control" id="accountNameAdd" name="accountNameAdd" type="text">
                        <br>

                        <label for="accountType">Account Type</label>
                        <select class="form-control" id="accountType" name="accountType" required>
                            <option value="CASH">CASH</option>
                            <option value="BANK">BANK</option>
                            <option value="PAYPAL">PAYPAL</option>
                            <option value="CHECKS">CHECKS</option>
                        </select>
                        <br>

                        <label for="accountCurrency">Account Currency</label>
                        <select class="form-control" id="accountCurrency" name="accountCurrency" required>
                            {% for currency in currencies %}
                                    <option value="{{ currency.id }}">{{ currency.currencyLabel }} - {{ currency.name }}</option>
                            {% endfor %}
                        </select>
                        <br>

                        <label for="balance">Account Balance</label>
                        <input class="form-control" id="balance" name="balance" type="text">
                        <br>

                    </div>
                    <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="updateAccountModal">Update Account</button>
                    <br>
                    <br>
                    <p align="center" id="successUpdate" style="display: none; color:green;">Successfully updated your account</p>
                    <p align="center" id="failUpdate" style="display: none;color:red;">There's been an issue, try again later</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
    {{ encore_entry_script_tags('transactions') }}
    {{ encore_entry_script_tags('addAccount') }}
{% endblock %}