{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
    <div class="container w-75">
        <div class="row">
            <div class="col-sm-9">
                <h2 align="left">Accounts</h2>
            </div>
            <div class="col-sm-2 text-left">
                <button type="button" class="btn btn-default align-right button_color">
                    <a href="{{ path('app_dashboard_addaccount', {'user_id' : app.user.id }) }}" style="text-decoration: none; color: white;" >Add new account</a>
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            {% for account in accounts %}
                {% if(account.active == 1) %}
                <div class="col-lg-4">
                    <div class="card text-center" style="padding: 0; margin: 0;">
                        <div class="card-header">
                            <span class="card-title" style="font-size: 14pt;" id="accountName_{{ account.id }}">{{ account.accountName}}</span><br>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2 show_wallet_history">
                                    <i class="fas fa-wallet" style="margin-top: 5px; font-size: 20pt;"></i>
                                </div>
                                <div class="col-sm-6 show_wallet_history" style="text-align: center;">
                                    <span id="accountBalance_{{ account.id }}" style="color:green; font-size: 20pt;">+{{ account.accountBalance }}  $</span>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-default update_account button_color" data-target="#addAccount" data-user_id_update="{{ app.user.id }}" value="{{ account.id }}" data-toggle="modal">
                                        <i class="fas fa-pencil-alt fa-xs"></i>
                                    </button>

                                    <button class="btn btn-default delete_account button_color"  data-user_id_delete="{{ app.user.id }}" value="{{ account.id }}">
                                        <i class="fas fa-trash-alt fa-xs"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            <!-- New Account Modal -->
            <div class="modal fade" id="addAccount" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="update_accountTitle">Update Account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addAccountForm" name="account" method="post" action="">
                                <div class="form-group">

                                    <label for="accountName">Account Name</label>
                                    <input class="form-control" id="accountName" name="accountName" type="text">
                                    <br>

                                    <label for="accountBalance">Account Balance</label>
                                    <input class="form-control" id="accountBalance" name="accountBalance" type="number">
                                    <br>

                                </div>
                                <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}">
                                <input type="hidden" id="account_id" name="account_id" value="">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="updateAccountModal">Update wallet</button>
                                <br>
                                <br>
                                <p align="center" id="successUpdate" style="display: none; color:green;">Successfully updated your account</p>
                                <p align="center" id="failUpdate" style="display: none;color:red;">There's been an issue, try again later</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <h2 align="center">Recent expences</h2>
        <p align="right">
            <button class="btn btn-primary" data-target="#addTransaction" data-toggle="modal">Add Transaction</button>
        </p>
        <br>

        <div class="container rounded primary-site-color dashboard_filters">
            <ul class="nav">
                <li class="nav-item">
                    <select class="form-control" id="account_type_filter">
                        <option value="0">All Accounts</option>
                        {% for account in accounts %}
                            {% if(account.active == 1) %}
                                <option value="{{ account.id }}">{{ account.accountName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </li>
                <li class="nav-item">
                    <select class="form-control" id="category_filter">
                        <option value="0">All Categories</option>
                        {% for category in categories %}
                            {% if(category.active == 1) %}
                                <option value="{{ category.id }}">{{ category.categoryName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </li>

                <li class="nav-item">
                    <select class="form-control" id="transaction_type_filter">
                        <option value="0">All Transaction Types</option>
                        {% for type in transaction_types %}
                            {% if(type.active == 1) %}
                                <option value="{{ type.id }}">{{ type.transactionType }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </li>

            </ul>
        </div>

        <!-- New Transaction Modal -->
        <div class="modal fade" id="addTransaction" tabindex="-1" role="dialog" aria-labelledby="addTransaction" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Transaction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addTransactionForm" name="addTransaction" method="post">
                            <div class="form-group">

                                <label for="transactionName">Transaction Name</label>
                                <input class="form-control" id="transactionName" name="transactionName" type="text" required>
                                <br>

                                <label for="transactionAccountType">Pick Account Type</label>
                                <select class="form-control" id="transactionAccountType" name="transactionAccountType" required>
                                    {% for account in accounts %}
                                        {% if(account.active == 1) %}
                                            <option value="{{ account.id }}">{{ account.accountName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <br>

                                <label for="transactionType">Pick a Transaction Type</label>
                                <select class="form-control" id="transactionType" name="transactionType" required>
                                    {% for type in transaction_types %}
                                        {% if(type.active == 1) %}
                                            <option value="{{ type.id }}">{{ type.transactionType }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <br>

                                <label for="transactionCategory">Pick a Category</label>
                                <select class="form-control" id="transactionCategory" name="transactionCategory" required>
                                    {% for category in categories %}
                                        {% if(category.active == 1) %}
                                            <option value="{{ category.id }}">{{ category.categoryName }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <br>

                                <label for="transactionAmount">Transaction Amount</label>
                                <input class="form-control" id="transactionAmount" name="transactionAmount" type="number" required>
                                <br>

                                <label for="transactionNote">Transaction Note</label>
                                <input class="form-control" id="transactionNote" name="transactionNote" type="text">
                                <br>



                            </div>
                            <input type="hidden" id="user_id" name="user_id" value="{{ app.user.id }}">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="updateAccountModal">Add Transaction</button>
                            <br>
                            <br>
                            <p align="center" id="successAddTransaction" style="display: none; color:green;">Successfully added your transaction.</p>
                            <p align="center" id="errorAddTransaction" style="display: none;color:red;"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <div class="container rounded transaction_list">
            {{ include('dashboard/transaction_list.html.twig', {'transactions': transactions, 'categories': categories}) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
    {{ encore_entry_script_tags('transactions') }}
{% endblock %}